name: Test Build

on:
  pull_request:
    branches:
      - development
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install backend dependencies
        run: cd backend && npm install

      - name: Install frontend dependencies
        run: cd frontend && npm install

      - name: Build frontend
        run: cd frontend && npm run build

      - name: Install notifications microservice dependencies
        run: cd microservices/notifications && npm install

      - name: Install stock-management microservice dependencies
        run: cd microservices/stock-management && npm install

      - name: Install gateway dependencies
        run: cd gateway && npm install

      - name: Notify test success
        if: success()
        run: echo "Build test passed."

      - name: Notify test failure
        if: failure()
        run: echo "Build test failed."
